.custom_text_semi-title {
  font-size: 20px;
  font-weight: "medium";
}
.custom_text_semi-title-medium {
  font-size: 18px;
  font-weight: "medium";
}
.custom_text_fat-title {
  font-size: 40px;
  font-weight: "semi-bold";
}
.custom_text_title {
  font-size: 36px;
  font-weight: "semi-bold";
}
.custom_text_text {
  font-size: 14px;
  font-weight: "regular";
}
/* En avant */
.custom_text_view {
  font-size: 16px;
  font-weight: "medium";
}

.light {
  color: var(--white-color);
}
.dark {
  color: var(--blue-color);
}
