# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://funnkywkqepwqnasuuxe.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Auth admin (on les remplira après)
ADMIN_EMAIL=ton@email.fr
ADMIN_PASSWORD_HASH=
JWT_SECRET=