.button_custom {
  display: inline-block;
  background-color: var(--gold-color);
  padding: 0.4rem 1.25rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
}

.button_custom:hover {
  background-color: #c19838;
  transform: translateY(-1.5px);
}
